* {
  box-sizing: border-box;
}

button {
  background: none;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: medium;
  height: 32px;
  padding: 0 16px;
}

button:focus {
  outline: none;
}

button.emoji {
  border: none;
}

button.primary {
  color: white;
  background-color: #673ab7;
  border-color: #673ab7;
}

button.primary:disabled {
  background-color: rgba(103, 58, 183, .3);
  border-color: transparent;
}

button.secondary {
  color: #673ab7;
  background-color: transparent;
  border-color: transparent;
}

label {
  color: #666666;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  margin: 4px 0;
}

label input {
  margin: 4px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 14;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin:  10px;
  padding: 0;
}

input,
select,
textarea {
  outline: 0;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  font-family: Raleway, sans-serif;
  font-size: 14;
  line-height: 32px;
  height: 32px;
  padding: 0 4px;
  width: 100%;
}

#app, .app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.col {
  display: flex;
  flex-direction: column;
}

.cell {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.alive {
  background-color:#ec407a;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm{
    animation:none
  }
  
  .github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}

.github-corner__svg {
  fill: rgb(103, 58, 183, .1);
  color: white;
  position: absolute;
  z-index: 0;
  top: 0;
  border: 0;
  left: 0;
  transform: scale(-1, 1);
  -webkit-transition: fill .3s ease-out;
  -moz-transition: fill .3s ease-out;
  -o-transition: fill .3s ease-out;
  transition: fill .3s ease-out;
}

.github-corner__svg:hover {
  fill: rgb(103, 58, 183, 1);
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.main-form {
  display: flex;
  margin: 10px 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.row.flex-end {
  justify-content: flex-end;
}
